@charset "UTF-8";
* {
  font-family: Rajdhani,Dancing Script,Noto Sans TC,微軟正黑體;
  position: relative;
}

nav.navbar {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav.navbar.navbar-expand-lg.fixed-top a {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: Dancing Script;
}

nav.navbar.navbar-expand-lg.fixed-top a:hover {
  color: #0099ff;
}

header.jumbotron {
  text-align: center;
  background-image: url(https://i.imgur.com/6HwnGUl.jpg);
  background-size: cover;
  background-position: 30% center;
  margin-bottom: 0px;
  height: 100vh;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

header.jumbotron .container {
  color: white;
  padding: 200px 0px;
}

header.jumbotron h1 {
  font-weight: bold;
  font-size: 52px;
}

header.jumbotron hr {
  max-width: 80px;
  border: solid 2px #ff6e3a;
}

header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
  font-size: 36px;
}

section {
  padding: 50px 0px;
}

section#section_me {
  background-color: #eaeffa;
}

section#section_me .col-sm-4.img {
  background-image: url(https://i.imgur.com/8XYAKz5.jpg);
  background-size: cover;
  background-position: 30% center;
  height: 600px;
  border-radius: 5px;
}

section#section_me .col-sm-8 {
  margin-left: -50px;
}

section#section_me .col-sm-8 .title {
  margin-top: 230px;
  color: #EE1818;
}

section#section_me .col-sm-8 .title h1 {
  font-weight: bold;
}

section#section_me .col-sm-8 .content {
  background-color: #eaeffa;
  letter-spacing: 1px;
}

section#section_me .col-sm-8 .content p {
  margin-left: 30px;
  padding-top: 10px;
}

section#section_skill {
  background-color: #eaeffa;
  text-align: right;
}

section#section_skill .col-sm-6.img {
  background-image: url(https://i.imgur.com/XzqJmY2.jpg);
  background-size: cover;
  background-position: center;
  height: 455px;
  border-radius: 5px;
}

section#section_skill .col-sm-6.txt {
  z-index: 1;
  margin-right: -50px;
}

section#section_skill .col-sm-6.txt .title {
  margin-top: 120px;
  padding: 0px 0px;
  color: #EE1818;
}

section#section_skill .col-sm-6.txt .title h1 {
  font-weight: bold;
}

section#section_skill .col-sm-6.txt .content {
  background-color: #eaeffa;
}

section#section_skill .col-sm-6.txt .content ul {
  list-style-type: none;
  margin-right: 30px;
}

section#section_skill .col-sm-6.txt .content ul p {
  margin: 0px;
}

section#section_skill .col-sm-6.txt .content ul .progress {
  background-color: #c1d0f0;
  height: 20px;
}

section#section_future {
  background-color: #eaeffa;
}

section#section_future .pg3_child {
  margin: 40px;
  height: 60px;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  cursor: pointer;
  overflow: hidden;
}

section#section_future .NEXT {
  color: #fefefe;
}

section#section_future .jackwell {
  background-color: #74d2e7;
  font-weight: bold;
}

section#section_future .gap {
  background-color: #92374D;
  color: #eee;
}

section#section_future .usun {
  background-color: #20385E;
  color: #eee;
}

section#section_future .niu {
  background-color: #67AAF9;
  font-weight: bold;
}

section#section_future .daan {
  background-color: #FF9E0C;
  font-weight: bold;
}

section#section_future .time {
  top: 0px;
  position: absolute;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

section#section_future h3 {
  top: 0px;
  position: absolute;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  z-index: 1;
  left: 30px;
  height: 60px;
  width: 60%;
  padding-top: 10px;
  padding-left: 0px;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  font-weight: bold;
}

section#section_future h3:hover {
  left: 60px;
}

section#section_future .time {
  right: 0px;
  height: 60px;
  width: 20%;
  min-width: 150px;
  text-align: center;
  padding: 15px;
}

section#section_future p {
  top: 0px;
  height: 230px;
  padding: 80px;
}

section#section_works {
  background-color: #eaeffa;
}

section#section_works .container .col-sm-4.img {
  background-image: url(https://i.imgur.com/CyyKPd7.jpg);
  background-size: cover;
  background-position: center;
  height: 455px;
}

section#section_works .container .col-sm-8 .title h1 {
  font-weight: bold;
  color: #EE1818;
}

section#section_works .container .col-sm-8 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section#section_works .container .col-sm-8 ul li img {
  width: 320px;
  height: 180px;
  border: solid 1px black;
  border-radius: 5px;
}

footer.jumbotron {
  text-align: center;
  background-color: #183168;
  margin-bottom: 0px;
  color: white;
}

footer.jumbotron h2 {
  font-family: Dancing Script;
}

footer.jumbotron a {
  margin-left: 10px;
}

footer.jumbotron hr {
  max-width: 50px;
  border: solid 2px #ff6e3a;
}

footer.jumbotron ul {
  text-align: left;
  list-style-type: none;
}

footer.jumbotron ul span {
  padding-left: 5px;
}

footer.jumbotron button:hover {
  background-color: #ff6e3a;
}

.window {
  display: inline-block;
  border: 1px solid white;
  height: 35px;
  width: 100px;
  color: red;
}

@-webkit-keyframes ani1 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes ani1 {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0px;
  }
}
/*# sourceMappingURL=Personal_WEB_V2.css.map */